body{

}

.content {
    margin-top: 150px;
}

.my_footer_bg{
    background-color: #c0cbd6;
}

.cardBody{
    background-color: #d0efc3;
    border-radius: 7em;
}

.img-quiz{
    background: linear-gradient(to right, rgba(158, 163, 168, 0), rgba(60, 200, 228, 0.7));
}

.copyright{
    margin-top: 70px;
}

.content-col{
    margin-top: 47px;
}

.bg-color{
    background-color: #243a51 !important;
}